<nav id="btm-nav" class="float">
  <div class="nav page-top">
    <ul class="menu px-1 flex justify-center ">
      <li class="py-1">
        <button class="btn btn-accent"><%= link_to (t 'sessions.new.to_register_page'), signup_path %></button>
      </li>
      <li class="py-1">
        <button class="btn btn-accent"><%= link_to (t 'users.new.to_login_page'), login_path %></button>
      </li>
    </ul>
  </div>
</nav>
<div class='top-wrapper'>
  <div class='my-14 md:my-20 text-center'>
    <div class="font-bold text-2xl md:text-4xl"><span class="text-syuiro text-5xl md:text-8xl">遠距離恋愛</span><span class="">中の</span><p class="mt-5 md:mt-12"><span class="text-syuiro text-3xl md:text-5xl">「寂しい」</span>を<span class="text-syuiro text-3xl md:text-5xl ">「楽しい」</span>に。</p></div>
  </div>
  <div class='text-center'>
    <div class="my-7">
      <button class="btn btn-accent md:text-xl"><%= link_to "さっそく使ってみる", signup_path %></button>
    </div>
    <div class="mt-3">
      <div class="">登録せずにちょっと使ってみる</div>
      <p class="mb-5"><%= link_to "ゲストログイン", guest_login_path, class:"btn btn-accent md:text-xl" %></p>
    </div>
  </div>
</div>
<div class='mt-16 mx-2 md:mx-14 border-y-2 border-syuiro bg-white'>
  <div class='text-center text-2xl md:text-4xl font-bold text-syuiro'>遠結びとは
  </div>
  <div class='text-sm md:text-xl md:text-center mx-7'>
    遠距離恋愛中の恋人と一緒に使うことで、<span class="inline-block">会えない時間を楽しく、有意義にする</span><span class="inline-block">サービスです。</span>
  </div>
</div>
<div class='mt-8 mx-2 md:mx-14 bg-white'>
  <div class='text-center text-xl md:text-3xl font-bold text-syuiro'>遠結びでできること
  </div>
  <div class='text-center md:text-xl'>
    
  </div>
</div>
