<%= content_for(:title, t('.title')) %>
<div class="text-center text-gray-700">
  <div class="p-4 m-5">
    <div class="text-4xl">
      <div class="font-bold"><%= t('.title') %></div>
    </div>
  </div>
  <%= render 'form', { reward: @reward } %>
</div>