<div class="navbar text-white bg-syuiro">
  <div class="navbar-start">
  </div>
  <div class="navbar-center">
    <%= link_to "遠結び", root_path, class:"btn btn-ghost normal-case text-4xl" %>
  </div>
  <div class="navbar-end">
    <ul class="lg:flex justify-end">
      <li class="nav-item "><%= link_to t('defaults.login'), login_path ,class: 'btn btn-ghost nav-link text-[10px] md:text-base' %></li>
      <li class="nav-item "><%= link_to t('defaults.signup'), signup_path ,class: 'btn btn-ghost nav-link text-[10px] md:text-base' %></li>
      <li class="nav-item "><%= link_to t('defaults.guest_login'), guest_login_path ,class: 'btn btn-ghost nav-link text-[10px] md:text-base' %></li>
    </ul>
  </div>
</div>