<footer id='footer' class='px-3 py-5 text-sm text-center text-white bg-miru'>
  <div class='row'>
    <div class='col-sm-6 col-12'>
      <ul class="flex justify-center">
        <li class='mx-2'>
          <%= link_to dashboards_path do %>
            利用<span class="inline-block">規約</span>
          <% end %>
        </li>
        <li>|</li>
        <li class='mx-2'>
          <%= link_to dashboards_path do %>
            プライバシー<span class="inline-block">ポリシー</span>
          <% end %>
        </li>
        <li>|</li>
        <li class='mx-2'>
          <%= link_to dashboards_path do %>
            お問い<span class="inline-block">合わせ</span>
          <% end %>
        </li>
      </ul>
      <div class='copyright flex justify-center'>
        <p>© 2023 遠結び</p>
      </div>
    </div>
  </div>
</footer>