<footer id='footer' class='px-3 py-5 text-sm text-center text-white bg-miru'>
  <div class='row'>
    <div class='col-sm-6 col-12'>
      <ul class="flex justify-center">
        <li class='mx-10'><%= link_to "利用規約", dashboards_path %></li>
        <li>|</li>
        <li class='mx-10'><%= link_to "プライバシーポリシー", dashboards_path %></li>
        <li>|</li>
        <li class='mx-10'><%= link_to "お問い合わせ", dashboards_path %></li>
      </ul>
      <div class='copyright flex justify-center'>
        <p>© 2023 遠結び</p>
      </div>
    </div>
  </div>
</footer>