<%= content_for(:title, t('.title')) %>
<div class="text-center text-gray-700">
  <div class="bg-red-100 rounded-lg p-4 m-5">
    <div class="text-2xl">
      <div class="font-bold">次会える日まで</div>
      <%# <div>あと<%= @day_count %></div> %>
      <div>日</div>
    </div>
    <%# <%= link_to edit_meet_path do %>
      <%# <button class="bg-orange-400 hover:bg-orange-300 text-white font-bold py-2 px-4 border-b-4 border-orange-700 hover:border-orange-500 rounded-lg">次会う日を変更する</button> %>
    <%# <% end %> %> %>
  </div>

  <div class="bg-cyan-100 rounded-lg p-4 m-5">
    <div class="font-bold text-2xl">会えない間にがんばること</div>
    <div>a</div>
    <button class="bg-orange-400 hover:bg-orange-300 text-white font-bold py-2 px-4 border-b-4 border-orange-700 hover:border-orange-500 rounded-lg m-2">がんばりを伝える</button>
    <button class="bg-orange-400 hover:bg-orange-300 text-white font-bold py-2 px-4 border-b-4 border-orange-700 hover:border-orange-500 rounded-lg m-2">2人のがんばりを見る</button>
  </div>

  <div class="bg-indigo-100 rounded-lg p-4 m-5">
    <div class="text-2xl">
      <div class="font-bold">会えない日があと</div><div class="font-bold">日になったら</div>
      <div>a</div>
      <div>のごほうびがもらえます。</div>
    </div>
    <button class="bg-orange-400 hover:bg-orange-300 text-white font-bold py-2 px-4 border-b-4 border-orange-700 hover:border-orange-500 rounded-lg m-2">ごほうびを編集する</button>
  </div>

  <div class="bg-amber-100 rounded-lg p-4 m-5">
    <div class="text-2xl font-bold">総移動距離　km</div>
    <button class="bg-orange-400 hover:bg-orange-300 text-white font-bold py-2 px-4 border-b-4 border-orange-700 hover:border-orange-500 rounded-lg m-2">くわしく見る</button>
  </div>
</div>