<%= content_for(:title, t('.title')) %>
<div class="text-center">
  <div class="p-4 m-3">
    <div class="text-4xl">
      <div class="font-bold"><%= t('.title') %></div>
    </div>
  </div>
  <%= render 'form', { effort: @effort } %>
</div>