<ul class="flex ">
  <li class="">
    <%= link_to edit_post_path(post), id: "button-edit-#{post.id}" do %>
      <%= icon('far', 'pen-to-square') %>
    <% end %>
  </li>
  <li class="">
    <%= link_to post_path(post), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm')} do %>
      <%= icon('fa', 'trash') %>
    <% end %>
  </li>
</ul>