<ul class="flex w-28">
  <li class="px-1">
    <%= link_to edit_post_path(post), class: "btn btn-ghost", id: "button-edit-#{post.id}" do %>
      <%= icon('far', 'pen-to-square fa-1x') %>
    <% end %>
  </li>
  <li class="px-1">
    <%= link_to post_path(post), class: "btn btn-ghost", data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm')} do %>
      <%= icon('fa', 'trash fa-1x') %>
    <% end %>
  </li>
</ul>