<div class="flex justify-center bg-red-100">
  <div class="m-7 text-2xl text-center">
    <%= current_user.name %>ががんばること<br>
    <%# <%= current_user.efforts.body(current_user.efforts.user_id == current_user.id) %> %>
  </div>
</div>