<div class="flex justify-center bg-white border-double border-4 border-miru lg:w-1/2 mx-3">
  <div class="m-3 text-center">
    <div class="text-2xl"><%= partner.name %>ががんばること</div>
    <% if partner_effort %>
      <div class="text-2xl font-bold"><%= partner_effort.body %></div>
    <% else %>
      <div class="text-xl font-bold"><%= partner.name %>のがんばることは<span class="inline-block">まだ決まっていません</span></div>
    <% end %>
  </div>
</div>