<%= content_for(:title, t('.title')) %>
<div class="text-center text-gray-700">
  <div class="p-4 m-5">
    <div class="text-2xl">
      <div class="font-bold"><%= t('.title') %></div>
    </div>
  </div>
</div>
<!-- 総移動距離詳細 -->
<div class="card-body">
  <div class='row'>
    <div class='col-md-9'>
      <div class="text-center text-gray-700 bg-white rounded-lg text-6xl p-4 m-5">
        <div class="font-bold">約　km</div>
      </div>
      <div class="p-4 m-5">
        <div class="text-center">これは、およそ</div>
        <div class="text-center">までの距離です。</div>
      </div>
      <div class="p-4 m-5">
        <div class="text-center">2人の愛の大きさは</div>
        <div class="text-center">を超えました。</div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="content">
    <label>郵便番号</label>
    <span class="content_form">
      <input id="zip" name="zip" type="text" placeholder="1600002"/>
    </span>
    <span class="content_form">
      <input class="studentEnrollment_button" type="button" value="住所を自動で入力する" onClick="setState()" />
    </span>
  </div>
  <div class="content">
    <label>都道府県</label>
    <span class="content_form">
      <input id="state" name="state" type="text" placeholder="東京都" />
    </span>
  </div>
  <div class="content">
    <label>市区町村</label>
    <span class="content_form">
      <input id="city" name="city" type="text" placeholder="新宿区" />
    </span>
  </div>
  <div class="content">
    <label>番地</label>
    <span class="content_form">
      <input id="address1" name="address1" type="text" placeholder="西新宿666" />
    </span>
  </div>
  <div class="content">
    <label>建物名・階・部屋番号</label>
    <span class="content_form">
      <input id="address2" name="address2" type="text" placeholder="ビルヂング666" />
    </span>
  </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script>
  // 郵便番号から住所を取得
  function setState() {
    var zip = $('#zip').val();

    // ここでzipのバリデーションを行ってください

    $.ajax({
      type : 'get',
      url : 'https://maps.googleapis.com/maps/api/geocode/json',
      crossDomain : true,
      dataType : 'json',
      data : {
        address : zip,
        language : 'ja',
        sensor : false
      },
      success : function(resp){
        if(resp.status == "OK"){
          // APIのレスポンスから住所情報を取得
          var obj = resp.results[0].address_components;
          if (obj.length < 5) {
            alert('正しい郵便番号を入力してください');
            return false;
          }
          //$('#country').val(obj[4]['long_name']); // 国
          $('#state').val(obj[3]['long_name']); // 都道府県
          $('#city').val(obj[2]['long_name']);  // 市区町村
          $('#address1').val(obj[1]['long_name']); // 番地
        }else{
          alert('住所情報が取得できませんでした');
          return false;
        }
      }
    });
  }
</script>