<%= content_for(:title, t('.title')) %>
<div class="text-center text-gray-700">
  <div class="p-4 m-5">
    <div class="text-2xl">
      <div class="font-bold"><%= t('.title') %></div>
    </div>
  </div>
</div>
<!-- 総移動距離詳細 -->
<div class="card-body">
  <div class='row'>
    <div class='col-md-9'>
      <div class="text-center text-gray-700 bg-white rounded-lg text-6xl p-4 m-5">
        <div class="font-bold">約　km</div>
      </div>
      <div class="p-4 m-5">
        <div class="text-center">これは、およそ</div>
        <div class="text-center">までの距離です。</div>
      </div>
      <div class="p-4 m-5">
        <div class="text-center">2人の愛の大きさは</div>
        <div class="text-center">を超えました。</div>
      </div>
    </div>
  </div>
</div>
